
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{description}}">
    
{# LINK FONT #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Flamenco:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
{# LINK BOOTSRAP #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

{# LINK CSS #}
{# This style sheet should be placed last in order to have priority #}
  <link rel="stylesheet" href="{{'/assets/css/main.css' | url }}">
  {% for css in styles %}
  <link rel="stylesheet" href="{{css}}">
 {% endfor %}
{# <link rel="stylesheet" href="{{'/assets/css/main.min.css' | url }}">
{% for css in styles %}
    <link rel="stylesheet" href="{{css | replace('.css', '.min.css')}}">
{% endfor %} #}



<title>{{ 'Charles Cantin - ' + title }}</title>

</head>
<body>
  
    <button 
      type="button" 
      class="btn btn-secondary btn-floating btn-lg" 
      id="btn-back-to-top">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg>  </button>
        {% include "navbar.njk" %}
        {{ content | safe }}
        {% include "footer.njk" %}