/* Form container styles */
.formcontainer {
    height: fit-content;
    margin-top: 25vh;
    margin-top: 4rem;
    width: 70%;
    max-width: 100%;
}

/* Form input styles */
.form-control-plaintext,
.contact__input,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease-in-out;
    min-height: fit-content;
    overflow-wrap: break-word;
}
/* No manual resizing for textarea */
textarea{
    resize: none;
    padding: 1rem;
}
/* Form input hover and focus styles */
.form-control-plaintext:hover,
.contact__input:hover,
.form-control-plaintext:focus,
.contact__input:focus {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 1);
}
/* Headings styles */
h2 {
    font-size: 5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
/* Large screen headings styles */
@media (min-width:769px) {
    h2 {
        font-size: 10rem;
        margin-bottom: 1rem;
    }
}
/* Larger screen headings styles */
@media (min-width:850px) {
    h2 {
        margin-bottom: 1rem;
    }
}
/* Price title heading styles */
.pricetitle h2 {
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 25%;
}
/* Nav item styles */
.contact-nav {
    padding: 0;
    margin: 0 0 6em 1rem;
}
.contact-nav__item {
    list-style: none;
    display: inline-block;
}
/* Show div styles */
.showDiv {
    background-color: transparent;
    border: none;
}
/* Show div heading styles */
.showDiv h5 {
    color: #251f1f;
}
/* Nav item heading styles */
h5 {
    color: rgba(37, 31, 31, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    transition: 0.20s all ease;
    cursor: default;
    border-bottom: 1px solid rgba(37, 31, 31, 0.5);
    border-radius: 0%;
    transition: .20s all ease;
}
/* Form row styles */
.form-row > *{
    padding-bottom: 1em;
}