body{
    background-image: url(../images/bgHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*   */
.card{
    border: none;
}
/* .footer{
    margin-top: 50rem;
} */
.navbar {
    height: fit-content;
}
.logorow{
    position: absolute;
    height: 100%;
    align-items: center;
}
.imgLogo{
   width: 250px;
   margin-left: auto;
   margin-right: auto;
}
img{
    width: 100%;
}
