*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vh;

}
:root{
    --typo-color : #251f1f;
    --bg : #f2f2f2;
    --bs-navbar-color: #251f1f;
}
body, html {
    height: 100vh;
    background-color: var(--bg);
    
}
h1, h2{
    font-family:'Flamenco', cursive;
}
.nav-item{
    text-transform:uppercase;
}
.nav-item:first-child a.nav-link {
    transition: all 1s ease-out;
}

.nav-item:first-child a.nav-link:hover{
    transform: scale(1.1);
}
.nav-item:not(:first-child) a.nav-link, 
.nav-link:not(:first-child) {
    border-radius: 10%;
    text-decoration: none;
    list-style: none;
    color: var(--typo-color);
    transition: all 0.3s ease-out;
    background-image: linear-gradient(to right, #dcdcdc 30%, transparent 50%);
    background-position: -100%;
    background-size: 200%;
}

.nav-item:not(:first-child) a.nav-link:hover,
.nav-item:not(:first-child) a.nav-link:focus,
.nav-link:not(:first-child):hover,
.nav-link:not(:first-child):focus {
    /* color:#f2f2f2; */
    background-position: 0%;
    background-size: 300%;
}
a{
    text-decoration: none;
    list-style: none;
    color: var(--typo-color);
}
p , a, .btn, li, h3 {
    font-family:'Raleway', sans-serif;
    font-size: 2rem;
}

.footer{
    color: #f2f2f2;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    background-color: var(--bs-navbar-color);
    margin-top: 10em;    
}
.footer p {
    padding: 0;
    margin: 0;
}
/* BUTTON BACK TO TOP  */
#btn-back-to-top {
  position: fixed;
  bottom: 100px;
  right: 10px;
  display: none;
  z-index: 999;
}
/* Button navbar-toggler */
.navbar-toggler{
    border: none;
    transition: all 0.1s ease;
    --bs-navbar-toggler-border-color:none;
    --bs-navbar-toggler-border-radius:0;
    --bs-navbar-toggler-border-radius:0;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-focus-border: none;
}
.navbar-toggler:hover{
    transform: scale(1.1);
}
.nav-link p{
    margin-bottom:0;
     padding: auto;
 }
 .imgLogo{
     --bs-card-bg: none;
 }
/* MEDIA */
/* logo nav */
@media (min-width: 600px) {
    #btn-back-to-top {
  right: 5em;
}
}
@media (max-width:580px) {
    #logoNav{
        display: none;
    }
}
@media (min-width:580px) {
    .nav-link p {
        display: none;
    }.navbar{
        padding-right:5.4rem;
    }
}
/* MEDIA NAVBAR BORDER */
@media (min-width:440px) {
    .navbar-item{
        border-inline-end: 0.1px solid #dee2e6;
    }
}


/* medialink size*/

.medialink-item{
    width: 50px;
    height: 50px;
}



.hideleft {
    opacity: 0;
    transform: translatex(-3px);
    overflow: hidden;
}
.hideright{
    opacity: 0;
    transform: translatex(3px);
    overflow: hidden;
}

.appear {
    opacity: 1;
    transform: translateX(0);
    transition: 1.5s;
}
