--- 
description : Découvrez le monde à travers l'objectif de Charles Cantin, photographe professionnel à Paris. Explorez une collection inoubliable de portraits, de paysages et de moments de mariage capturés avec passion et précision. Réservez dès maintenant pour immortaliser vos moments spéciaux.
layout : layout.njk
title : Homepage
styles:
        - /assets/css/homepage.css
---
 <div id="mainContentHomepage" class="container-fluid logo h-100">
    <div class="row">
      <div class="row logorow mx-0 px-0  ">
        <div class="imgLogo card bg-0 ">
          <img class="hideright" src="/assets/images/mainlogo.png" alt="Charles Cantin Photographe professionnel" />

        </div>
      </div>