--- 
layout : layout.njk
title : Homepage
styles:
        - /assets/css/homepage.css
---
 <div id="mainContentHomepage" class="container-fluid logo h-100">
    <div class="row">
      <div class="row logorow mx-0 px-0  hideright">
        <div class="imgLogo card bg-0">
          <img src="/assets/images/Group 1 (1).png" alt="Charles Cantin Photographe professionnel" />

        </div>
      </div>