--- 
layout : layout.njk
title : Portfolio
styles:
        - /assets/css/portfolio.css
---



<div class="container mt-5">
    <div class="photoh2 row text-center">
      <h2>PORTFOLIO</h2>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="{{'/index.html' | url}}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container mt-5 pb-5 d-flex justify-content-center">
    <div class="container-btn row row-cols-3 row-cols-md-1 justify-content-center pb-5 w-75">
      <!-- filter buttons -->
    </div>
  </div>
  <!-- container ITEMS -->
  <div class="container mt-5 pb-5">
    <div class="row maincontent row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 mx-5 pt5">
            
      {%- for photo in collections.photo -%}
        <div class="col-photo col d-flex justify-content-center">
          <div class="card border border-0 shadow h-25 w-75">
            <img 
            src="{{ photo.data.image }}" 
            class="card-img" 
            alt="{{ photo.data.imageAlt }}" 
            loading="lazy">

          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>