--- 
layout : layout.njk
title : Price
styles:
        - /assets/css/prices.css
script : "price.js"
---
  <div class="container mt-5">
    <div class="pricetitle row text-center hideleft">
      <h2>TARIFS</h2>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="{{'/index.html' | url}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{'/portfolio/' | url}}">Portfolio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tarifs</li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- MAINCONTENT -->
  <div class="container-fluid d-flex justify-content-center hideright">
    <button class="btn btn-prev slide-arrow mx-0" id="slide-arrow-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left"
        viewbox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </button>
    <div class="maincontent row h-100 mx-5 pt-5 ">
      <div id="slides-container" class="slides-container cardDisplay justify-content-start">

      </div>
    </div>
    <button class="btn btn-next slide-arrow mx-0" id="slide-arrow-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right"
        viewbox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
      </svg>
    </button>
  </div>