--- 
layout: layout.njk
title:  Upload
script : "upload.js"
---
    <form id="upload-form">
        <input type="file" name="files" id="file-input" multiple>
        <button type="submit">Télécharger</button>
      </form>

